@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
}
 body {
        background-color: darkgray;
    }

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: grid;
    border: 2px solid green;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
}

.input-container {
    border: 2px solid springgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    justify-content: space-around;
}

.add-new-book {
    border: 2px solid salmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.book-section {
    border: 2px solid maroon;
    height: 100vh;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 26px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.book-card {
    border: 2px solid rgb(19, 66, 40);
    /* height: 300px;
    width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid maroon;
}

.book-cover {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: .5rem;
}

#delete-book {
    background-color: darkgray;
    cursor: pointer;
}

#trash-svg {
    width: 30px;
    height: 30px;
     background-color: darkgray;
}

.card {
    border: 1px solid maroon;
}